<?php

return [
    /*
     * Required, SMTP Server, Eg. 'smtp.mailgun.org'
     */
    'server' => env('SERVER'),

    /*
     * Required, SMTP Port, Eg. 25
     */
    'port' => env('PORT', 25),

    /*
     * Required, SMTP Username
     */
    'username' => env('USERNAME'),

    /*
     * Required, SMTP Password
     */
    'password' => env('PASSWORD'),

    /*
     * Send email to address (can be set in form post data also)
     * string or array 'user@example.com' or ['user@example.com' => 'User']
     */
    'to' => [
        'email' => env('TO_EMAIL'),
        'name' => env('TO_NAME'),
    ],

    /*
     * Send email from address (can be set in form post data also)
     * string or array 'noreply@example.com' or ['noreply@example.com' => 'No Reply']
     */
    'from' => [
        'email' => env('FROM_EMAIL'),
        'name' => env('FROM_NAME'),
    ],

    /*
     * Email subject (can be set in form post data also)
     */
    'subject' => env('SUBJECT'),

    /*
     * Redirect on email success or failure, Eg. 'http://example.com/success'
     * Can be set in form post data also using redirect.success and redirect.failure
     */
    'redirect' => [
        'success' => env('REDIRECT_SUCCESS'),
        'failure' => env('REDIRECT_FAILURE'),
    ],

    /*
     * Set the required fields within the post data
     * eg: 'name, email, message, files'
     *
     * Failure message and redirect will be returned if
     * data does not exist
     */
    'required' => env('REQUIRED_FIELDS'),

    /*
     * Google recaptcha secret
     */
    'recaptcha' => [
        'secret' => env('RECAPTCHA_SECRET'),
    ],
];
